.todo{
    text-align: center;
    padding: 5px;
}

.producto{
    font-size: 35px;
}

.total{
    font-size: 30px;
}

.fechas{
    font-size: 25px;
}

.id{
    font-size: 20px;
}

.botonc{
    
    font-size: 25px;
    
}