.precio__carta{
    display: grid;
    
}


.carta{
    background-color: rgb(241, 36, 36);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 25px 50px -12px black;
    margin-left: 10px;
    margin-right: 10px;
    transition: 1s;
}



.carta:hover{
    transform:translateY(-15px);
  }


  .carta__header img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    max-height: 260px;
}


.carta__header{
    position: relative;
 }

 small{
    padding: 8px;
    background-color: bisque;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
 }

 .imagen__final{
    height: 200px;
    width: 200px;
    
    }

    .carta__titulo{
        margin-bottom: 20px;
        font-size: 20px;
        margin-left: 15px;
        overflow-y: hidden;
    }
    
    .carta__descripcion{
        margin-bottom: 40px;
    }


    .precio__verde{
        background-color: rgb(154, 4, 7);
        color: white;
        font-weight: bold;
        padding: 15px 0;
        border-radius: 10px;
        width: 100%;
        display: block;
        text-align: center;
        transition: 1.5s;
    }
    
    .precio__verde:hover{
        background-color: rgb(59, 3, 12);
    }

    
.carta__header img {
    width: 300px; 
    height: 500px; 
    object-fit: cover; 
  }
  
 
  .carta {
    text-align: center;
  }
  

  .carta {
    margin: 20px;
    padding: 10px;
    border: 1px solid #2c0000;
    border-radius: 5px;
  }
  
.precio__carta{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
       
    }


    .parrafo{
        font-size: 30px;
    }